services:
  - type: web
    name: fakedia-bot
    env: python
    region: oregon
    plan: starter
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: WEB_CONCURRENCY
        value: 1
